<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h2> Vista de consulta

       <table>
        <thead>

            <tr>
                <td>id:</td>
                <td>albulm:</td>
                <td>artista</td>
                <td>año publicacion</td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{album.0}}</td>
            <td>{{album.1}}</td>
            <td>{{album.2}}</td>
            <td>{{album.3}}</td>
            <td>{{album.4}}</td>
            <td><a href="{{ url_for('editar_album', id=album[0]) }}">editar álbum</a></td>
            <br></br>
            <td><a href="{{ url_for('elimina', id=album[0]) }}">Eliminar</a></td>

        </tr> 
        
        <td><a href="/">regresar</a></td>
        </tbody>
    </table>


</body>
</html>