{% extends 'plantilla.html' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="display-4 text-primary mt-5 mb-4 text-center">Detalle del Álbum</h2>
            
            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}
                    {% for msj in mensajes %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ msj }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <table class="table table-bordered table-hover mt-4" style="background-color: #6f42c1; color: white;">
                <thead >
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Álbum</th>
                        <th scope="col">Artista</th>
                        <th scope="col">Año de Publicación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ album.0 }}</td>
                        <td>{{ album.1 }}</td>
                        <td>{{ album.2 }}</td>
                        <td>{{ album.3 }}</td>
                    </tr> 
                </tbody>
            </table>
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                <a href="{{ url_for('albums.editar_album', id=album[0]) }}" class="btn btn-purple me-md-2" style="background-color: #6f42c1; color: white;">
                    <i class="bi bi-pencil-square"></i> Editar Álbum
                </a>
                <a href="{{ url_for('albums.elimina', id=album[0]) }}" class="btn btn-danger me-md-2">
                    <i class="bi bi-trash"></i> Eliminar
                </a>
                <a href="/" class="btn btn-primary">
                    <i class="bi bi-arrow-left"></i> Regresar
                </a>
            </div>
        </div>
    </div>
{% endblock %}