<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactos </title>
</head>
<body>
    <h2> contactos</h2>

    {%with mensajes= get_flashed_messages()%}
           {%if mensajes%}
              {%for msj in mensajes%}
                 <h4> {{msj}}</h4>
              {%endfor%}
           {%endif%}
    {%endwith%}

    <form action="/guardar" method = "post">
        <input type = "text" name="nombre" placeholder="nombre" value="{{request.form.nombre}}" >
        {%if errores and errores.nombre%}
          <p style =" color:purple">{{errores.nombre}}</p>
        {%endif%}
        <input type = "text" name="correo" placeholder="correo" value="{{request.form.correo}}">
        {%if errores and errores.txt_correo%}
          <p style =" color:purple">{{errores.correo}}</p>
        {%endif%}
        <input type = "number" name="telefono" placeholder="telefono" value="{{request.form.telefono}}">
        {%if errores and errores.telefono%}
          <p style =" color:purple">{{errores.telefono}}</p>
        {%endif%}

        <input type = "number" name="edad" placeholder="edad" value="{{request.form.edad}}">
        {%if errores and errores.edad%}
          <p style =" color:purple">{{errores.edad}}</p>
        {%endif%}


        <button type="submit">Guardar contacto</button>    
    </form>
    <br>
    <br>
    <br>
    <table>
      <tbody>
        {%for alb in contactos%}
        <tr>
          <td>{{alb.0}}</td>
          <td><a href="detall/{{alb.0}}">{{alb.1}}</a></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
</body>
</html>